@charset "UTF-8";

svg {
  width: 3em;
  height: 2em;
}

/*
 * Code Blocks
 */

.code-block {
  margin-bottom: 1.5rem;
  position: relative;
}

.code-block .CodeMirror {
  transition: .3s all ease-in;
  height: auto;
  margin-bottom: 1em;
}

.code-block pre.CodeMirror {
  padding: 1em;
  margin: 0;
  margin-bottom: 1em;
}

.CodeMirror svg.loader {
  position: absolute;
  top: 42%;
  left: 42%;
  max-width: 64px;
  border-radius: 3px;
  /* box-shadow: 2px 2px 5px #000; */
  background: rgba(30, 30, 30, .7);
  fill: none;
  stroke: #222;
  stroke-linecap: round;
  stroke-width: 8%;
}

use {
  stroke: #fff;
  animation: a 2s linear infinite
}

@keyframes a {
  to {
    stroke-dashoffset: 0px
  }
}

/*
 * Output Blocks
 */
iframe.output-block-frame {
  display: none;
  width: 100%;
  margin: 1em 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, 1);
  box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, 1);
  background-color: #fff;
  transition: .3s all ease-in;
}

iframe.output-block-frame.show {
  display: block;
}
