/*
 * Code Blocks
 */
.code-block {
  margin-bottom: 1.5rem;
}

.CodeMirror {
  transition: .3s all ease-in;
}
.code-block .CodeMirror {
  font-size: 1.2em;
  // overflow-x: auto;
  font-size: 1em;
  min-height: 5em;
  max-height: 15em;
  // height: auto;
}

.code-block pre.CodeMirror {
  padding: 1em;
  margin: 0;
}
